<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.test.wyp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="app.test.wyp.MainActivity"/>
        <activity android:name="app.test.wyp.AddName"/>
        <activity android:name="app.test.wyp.AddGenre"/>
        <activity android:name="app.test.wyp.AddPhone"/>
        <activity android:name="app.test.wyp.HomeApp"/>
        <activity android:name="app.test.wyp.Explorar"/>
        <activity android:name="app.test.wyp.Search"/>
        <activity android:name="app.test.wyp.AddCodeVerify"/>
        <activity android:name="app.test.wyp.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>